html, body {
    height: 100%; /* Body ve html elementlerini tam ekran yüksekliğinde ayarla */
}

.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: auto; /* Sayfanın kaydırılabilir olmasını sağla */
    position: relative;
	padding-top: 100px; /* Header yüksekliği kadar içeriğin başına boşluk ver */
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('arkplanrepeat.png');
    background-repeat: repeat; /* Resmi yatay ve dikey olarak tekrar et */
    background-size: 9%; /* Resmin boyutunu küçültmek için yüzde değeri */
    background-position: center; /* Resmi ortala */
	
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.old-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('arkplanrepeat.png');
    background-repeat: repeat; /* Resmi yatay ve dikey olarak tekrar et */
    background-size: 9%; /* Resmin boyutunu küçültmek için yüzde değeri */
    background-position: center; /* Resmi ortala */
}

.new-background {
    position: absolute;
    bottom: 0; /* Sayfanın alt kısmında yer alması için */
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('maparkaplan.png'); /* Yeni arkaplan resmi */
    background-repeat: no-repeat; /* Resmin tekrar edilmesini engeller */
    background-size: cover; /* Resmi ekranın tamamını kaplayacak şekilde boyutlandırır */
    background-position: center bottom; /* Resmi dikey ve yatay olarak ortalar ve alt kısımda yer almasını sağlar */
}



header {
	 position: fixed;
	 top: 0px; /* Header'ı sayfanın üstünden 20 piksel aşağıda konumlandır */
    left: 0;
	 width: 100%;
    z-index: 1000; /* Diğer içeriklerden üstte olması için yüksek bir z-index değeri */
       background: linear-gradient(135deg, #ffe6de, #d78a83); /* Gradient renkleri */

	 /* Gölgeli efekt */
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2); /* x-offset, y-offset, blur radius, color */
    color: white;
    padding: 20px;
    text-align: center;
}

header img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

#map-container {
    margin-top: 5px;
    overflow: hidden; /* Harita dışına taşan kısımları kesmek için */
    width: 100%;
    height: 95vh; /* Ekran yüksekliğinin %80'ini kaplar */
    position: relative;
}

#map-frame-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden; /* İçeriği kesmek için */
    transition: transform 0.3s ease; /* Hareketi yumuşatmak için geçiş efekti ekle */
    transform: translateY(15%); /* İçeriği dikey olarak ortalama ve aşağı kaydır */
}


#map-frame {
    width: 100%;
    height: calc(100% + 100px); /* İstediğiniz boşluğu ekleyin */
    margin-top: -0px; /* Örnek olarak -15px negatif margin değeri */
}



#toggleButton {
    width: 100px; /* Genişlik */
    height: 50px; /* Yükseklik */
    padding: 2px; /* İç içe boşluklar */
    background-color: #007bff; /* Arkaplan rengi */
    color: white; /* Metin rengi */
    border: none; /* Kenar çizgisi yok */
    border-radius: 0px; /* Kenar yumuşatma */
    cursor: pointer; /* İmleç türü */
    font-size: 16px; /* Font boyutu */
    outline: none; /* Dış çizgi yok */
    z-index: 9999; /* Diğer içeriklerin üzerinde göstermek için */
    position: absolute; /* Sabit pozisyon */
    top: 100%; /* Yükseklik */
    left: 50%; /* Sol kenara göre yatay konum */
    transform: translate(-50%, -50%); /* Dikey ve yatay olarak ortala */
    background-image: url('button72minik.png'); /* Arka plan resmi */
    background-size: 100px 50px; /* Arka plan resminin boyutu */
    transition: background-image 0.2s ease; /* Geçiş efekti */
    line-height: 50px; /* Yazı yüksekliği buton yüksekliğiyle aynı olacak */
    text-align: center; /* Metni ortala */
    text-shadow: 2px 5px 1px rgba(0, 0, 0, 1); /* Metin gölgesi */
    white-space: nowrap; /* Alt alta değil yan yana yazdır */
    font-family: 'MinecraftBold', sans-serif; /* Font ailesi */
}

#toggleButton span {
    width: 100%; /* Yazının genişliğini butonun tam genişliği yap */
    display: inline-block; /* Yazıyı blok element yap */
    vertical-align: middle; /* Dikey hizalama */
}

@font-face {
    font-family: 'MinecraftBold';
    src: url('fonts/MinecraftBold-nMK1.otf') format('opentype'); /* Font dosyası */
}

#toggleButton:active {
    transform: translateY(2px); /* Tıklama efekti: Y ekseni boyunca 2 piksel aşağı kaydırma */
}

#toggleButton:hover {
    background-image: url('button72minikhover.png'); /* Hover efekti: Arka plan resmini değiştirme */
}




/////////////MOBILE


