body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

header img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

main {
    text-align: center;
}

#map-container {
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
#map-container {
    margin-top: 20px;
    overflow: hidden; /* Harita dışına taşan kısımları kesmek için */
    display: flex;
    justify-content: center; /* İçeriği yatay olarak ortala */
}

#map-container img {
    max-width: 100%;
    max-height: 80vh; /* Ekran yüksekliğinin en fazla %80'i kadar yükseklik */
    cursor: grab; /* Haritayı sürüklemek için el simgesi */
}
