body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Ekran dışında olan kısımları gizle */
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

header img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

main {
    text-align: center;
}

#map-container {
    margin-top: 20px;
    overflow: hidden; /* Harita dışına taşan kısımları kesmek için */
    width: 100%;
    height: 80vh; /* Ekran yüksekliğinin %80'ini kaplar */
    display: flex;
    justify-content: center; /* İçeriği yatay olarak ortala */
    align-items: center; /* İçeriği dikey olarak ortala */
}

#map-image {
    width: 100%;
    height: auto;
    cursor: grab; /* Haritayı sürüklemek için el simgesi */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
