body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

#ust-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#logo {
    width: 150px;
    height: auto;
}

#logo-gorseli {
    width: 100%;
    height: auto;
}

#metin {
    font-size: 16px;
    color: #fff;
}

#harita-bolumu {
    position: relative;
    width: 800px;
    height: 500px;
    margin: 0 auto;
    top: 50px;
    border: 1px solid #ccc;
}

.harita-katmani {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#harita-2d {
    z-index: 1;
}

#harita-3d {
    z-index: 2;
}

#harita-panoramik {
    z-index: 3;
}

#alt-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #333;
    text-align: center;
    padding: 10px;
}

#kredi {
    font-size: 14px;
    color: #fff;
}
